.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    text-align: center;
    right: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 18px 38px 8px 45px;
    text-decoration: none;
    font-size: 25px;
    
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 30px;
  }
  .sidebar button {
    padding:8px 0px 0px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .openbtn {
    z-index: 2;
    position:fixed;
    top: 80px;
    right:2%;
    font-size: 20px;
    background-color:darkgoldenrod;
    color: white;
    padding: 10px 15px;
  }
  
  .openbtn:hover {
    background-color: darkgoldenrod;
  }
  
  .leftDescriptionButton {
    z-index: 2;
    position:fixed;
    top: 80px;
    left:2%;
    font-size: 20px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    color: white;
    padding: 10px 15px;
  }
  
  .leftDescriptionButton:hover {
    background-color: darkgoldenrod;
  }
.buttonCompany{
  width: 150px;
  borderRadius: 3px;
  letterSpacing: 1.5px;
  marginTop:1rem;

}

a { 
  color: black; 
}
a:active {
  color: darkgoldenrod; 
}
hr {
  width: 80%;
  border-color:darkgoldenrod;
}
h4{
  margin-top: 1%;
  margin-bottom: 1%;
}
h2{
  color:white
}
h4{
  color:white
}
p{
  color:white
}

table{
  width:75%;
  padding:15%;
  table-layout : fixed;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
  margin-bottom: 3vh;
}

.hrForAbout{
  width: 75%;
  height:3px;
  border: 0 none;
  background-color:darkgoldenrod;
}

tr{
  vertical-align:"bottom";
  border-width: 0;
  
}

td{
  text-align:center;
  border-width: 0;
  background-color:rgb(58, 51, 51) ;
  
}


.logoImage{

  width: 90%;
  padding: 10px;
}
.mouthpeiceLogoImage{

  width: 65%;
}
.mwLogoImage{

  width: 40%;
}
.topTableSection{
  margin-top: 0.5%;
}

.firstPageSection{
  margin-top: 1%;
}



.upperContent{
  text-align: center;
  align-items: center;
  justify-content: center;
}


.tubaTable{
  width:80%;
  table-layout : fixed;
  margin-top: 1%;
  border-collapse: separate;
  border-spacing: 13px 13px;
  margin-bottom: 0px;
  padding:10px;
  font-size: 34px;
}
table.tubaTable td:hover,
td:focus-within {
  border: 5px solid darkgoldenrod;
}


.tubaImage{
  
  width: 50%;
}
.tubaImageYamaha{
  width: 80%;

}

.main{
  padding-bottom:4%;
}

.bottombar{
  padding: 20px;
  height: 10rem;
  background-color:darkgoldenrod;
  bottom: 0;
  align-items: center;
  text-align: center;
  width: 100%;
}






body.welcome {
  background: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid white;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background:darkgoldenrod ;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}
   
/* moveIn */
.welcome header,
.welcome a.btn {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background:darkgoldenrod;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background:darkgoldenrod;
  }
}

@keyframes materia {
  0% {
    background:white;
  }
  50% {
    background:white;
    top: 26px;
  }
  100% {
    background:silver;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.pCompanyDescription{
  font-size: 24px;
  text-align: left;
}

.NavDescriptionLogo{
  width:60%;
  border-radius: 50%;
  background-color: darkgoldenrod;
}

.NewNavDescriptionLogo{
  width:60%;
  border-radius: 40%;
  background-color: lightgray;
}

.tubaDisplayImage{

  width: 45%;
  border: 5px solid darkgoldenrod;
  border-radius: 5px;
  background-color: white;
}
.tubaDisplayImageYamaha{

  width: 70%;
  border: 5px solid darkgoldenrod;
  border-radius: 5px
}
.mouthpeiceDisplayImage{
  margin-top: 10%;
  width: 56%;
}

.split {
  margin-top: 1%;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color:white;
  margin-top: 2%;
}

/* Control the right side */
.right {
  right: 0;
  background-color: darkgoldenrod;
  margin-top: 2%;
}
.centered {
  margin-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.newTable{
  font-size: 34px;
}


.tubaSidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  text-align: center;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.tubaSidebar a {
  padding: 18px 38px 8px 45px;
  text-decoration: none;
  font-size: 25px;
  
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 30px;
}
.tubaSidebar button {
  padding:8px 0px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
}

.tubaSidebar a:hover {
  color: #f1f1f1;
}



.main-container {
  display: flex;
  width: 100%;
  position:fixed;
  z-index: 1;
  background: rgb(36, 34, 34);


}
.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  min-width: 50%;
  padding: 5vh;
  padding-top: 7vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(36, 34, 34);


}
.right-container {
  flex: 0 1 50%;
  display: flex;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(36, 34, 34);
  
}
.half-container1 {
  flex: 0 0 100%;
  min-height: 46vh;
  max-height: 46vh;
  padding: 10px;
  overflow: hidden;
}
.half-container2 {
  position:relative;
  flex: 0 0 100%;
  min-height: 49vh;
  max-height: 49vh;
  padding: .5em;
  overflow: hidden;
}

textarea{
  padding: 2%;
  background-color:rgba(31, 29, 29, 0.603);
  border-color: black;
  height: 10rem;
  font-size: 18px;
  border-radius: 6px;
  
}
.center-col {
  flex: 1;
  border-right: 3px solid darkgoldenrod ;
  border-left: 3px solid darkgoldenrod ;

  overflow: scroll;
  min-height: 46vh;
  max-height: 46vh;
  padding:10px;
  padding-bottom:17%;
  
}
.containerForComments {
  
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  
  
}



.boxed {

  border: 3px solid white ;
  background-color: rgb(90, 84, 84) ;
  border-radius: 6px;
  color: white;
  margin-bottom: 2.5%;
  padding:0.5%;
  text-align: left;
  font-size: 18px;
  
}

.NullTdClass{
  border : white;
}
.alignMouthpeiceNameAndImage{
  text-align: center;
  justify-content: center;
}

.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.aboutLogo{
  width :  180px;
  height: 180px;
}

.aboutLogoBox{
  border: 0.5px solid 	#DCDCDC;
  background-color: 	#DCDCDC;
  padding: 10px  10px;
}

.authorImage{
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
  border: 3px solid darkgoldenrod;

}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.aboutUpperPart{
  animation: 1.6s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromBottom{
  0% {
    transform: translateY(+100%);
  }
  100% {
    transform: translateY(0);
  }
}
.aboutLowerPart{
  animation: 1.6s ease-out 0s 1 slideInFromBottom;
}

.CookiesButton {
  background-color: white; 
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 36px;
  color: black; 
  border: 2px solid darkgoldenrod;
  margin:3%
}

.CookiesButton:hover {
  background-color: darkgoldenrod;
  color: white;
}
.BoxInsideSideBar{
  font-size: 23px;
}




.table-spacing{
  border-spacing:5px;
}

