.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    text-align: center;
    right: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 18px 38px 8px 45px;
    text-decoration: none;
    font-size: 25px;
    
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 30px;
  }
  .sidebar button {
    padding:8px 0px 0px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .openbtn {
    z-index: 1;
    position:fixed;
    top: 80px;
    right:2%;
    font-size: 20px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
.buttonCompany{
  width: 150px;
  borderRadius: 3px;
  letterSpacing: 1.5px;
  marginTop:1rem;

}

a { 
  color: black; 
}
a:active {
  color: darkgoldenrod; 
}
hr {
  width: 80%;
}
h4{
  margin-top: 1%;
  margin-bottom: 1%;
}

table{
  width:75%;
  padding:15%;
  table-layout : fixed;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
}

tr{
  vertical-align:"bottom";
  border-width: 0;
}

td{
  text-align:center;
  border-width: 0;
}


.logoImage{

  width: 70%;
}
.mouthpeiceLogoImage{

  width: 55%;
}
.mwLogoImage{

  width: 40%;
}
.topTableSection{
  margin-top: 0.5%;
}

.firstPageSection{
  margin-top: 1%;
}



.upperContent{
  text-align: center;
  align-items: center;
  justify-content: center;
}


.tubaTable{
  width:75%;
  padding:15%;
  table-layout : fixed;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
}
table.tubaTable td:hover,
td:focus-within {
  border: 5px solid darkgoldenrod;
}


.tubaImage{
  
  width: 45%;
}

.main{
  padding-bottom:4%;
}

.bottombar{
  margin-top:5%;
  padding: 20px;
  height: 10rem;
  background-color:darkgoldenrod;
  bottom: 0;
  align-items: center;
  text-align: center;
  left: 0;
  width: 100%;
}
.notLoggedInBottombar{
  margin-top:5%;
  position:fixed;
  padding: 1rem;
  height: 10rem;
  background-color: darkgoldenrod;
  bottom: 0;
  left: 0;
  width: 100%;
}





body.welcome {
  background: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid white;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background:darkgoldenrod ;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}
   
/* moveIn */
.welcome header,
.welcome a.btn {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background:darkgoldenrod;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background:darkgoldenrod;
  }
}

@keyframes materia {
  0% {
    background:white;
  }
  50% {
    background:white;
    top: 26px;
  }
  100% {
    background:silver;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.pCompanyDescription{
  font-size: 24px;
  text-align: left;
}

.NavDescriptionLogo{
  width:60%;
  border-radius: 50%;
  background-color: darkgoldenrod;
}

.NewNavDescriptionLogo{
  width:60%;
  border-radius: 40%;
  background-color: lightgray;
}

.tubaDisplayImage{

  width: 40%;
}

.split {
  margin-top: 1%;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color:white;
  margin-top: 2%;
}

/* Control the right side */
.right {
  right: 0;
  background-color: darkgoldenrod;
  margin-top: 2%;
}
.centered {
  margin-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.newTable{
  font-size: 34px;
}


.tubaSidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  text-align: center;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.tubaSidebar a {
  padding: 18px 38px 8px 45px;
  text-decoration: none;
  font-size: 25px;
  
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 30px;
}
.tubaSidebar button {
  padding:8px 0px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
}

.tubaSidebar a:hover {
  color: #f1f1f1;
}


